<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://butterfaces.org/components"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="../../template/keeperLayout.xhtml">
        <f:metadata>
            <f:event type="preRenderView" listener="#{flatBean.resetEditNotes()}" />
        </f:metadata>

        <ui:define name="keeper-side-panel-def">
            <h:form id="kp-sm-form">
                <p:menu id="kp-sm">
                    <p:submenu label="Navigation">
                        <p:menuitem value="Index" outcome="index"/>
                    </p:submenu>
                    <p:submenu label="Notes">
                        <p:menuitem value="Add Note" outcome="note-form" />
                    </p:submenu>
                </p:menu>
            </h:form>
        </ui:define>

        <ui:define name="keeper-top-panel-def">
            <div class="ui-g-12">
                <p:inputText id="searchText" styleClass="search-text"
                    placeholder="Search" value="#{entryPage.searchTerm}"
                    onkeyup="keeper.filterNotes()" />
            </div>
        </ui:define>

        <ui:define name="keeper-content-def">
            <h:panelGroup layout="block" id="notesList">
            <h:form id="kp-notes-form">
                <p:repeat value="#{entryPage.notes}" var="note">
                    <div class="ui-g-12 ui-md-12 kp-note-result">
                        <span class="kp-note-title">
                        <p:commandLink id="kp-note-edit" value="[edit]" styleClass="kp-edit-link" action="note-form?faces-redirect=true">
                            <f:setPropertyActionListener value="#{note}" target="#{flatBean.editNote}" />
                        </p:commandLink>
                        <h:outputText value="#{note.title}" /></span><br/>
                        <b:markdown value="#{note.text}" hideLabel="true" readonly="true" />
                    </div>
                </p:repeat>
            </h:form>
            </h:panelGroup>
        </ui:define>
    </ui:composition>
</h:body>

</html>