<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:b="http://butterfaces.org/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	
<f:view contentType="text/html">
	<h:head>
		<title>Login</title>
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		<h:outputStylesheet name="css/keeper.css" />
	</h:head>
	
	<h:body>

		<h:panelGroup layout="block" styleClass="unauthenticated">
			<h:form id="loginForm" prependId="false">
				<b:section id="loginSection" label="Login" styleClass="form-group">
					<b:text id="username" 
						label="Username"
						autoFocus="true" />
					<b:text id="password" 
						label="Password"
						type="password" />
				</b:section>
				<b:commandLink id="loginBtn" value="Login" 
					styleClass="btn btn-success"
					onclick="return false;"/>
				<a href="/login/facebook" class="btn btn-success facebook">Facebook login</a>
				<a href="/login/gitlab" class="btn btn-success gitlab">GitLab login</a>
			</h:form>
		</h:panelGroup>

	</h:body>
</f:view>
</html>