<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://butterfaces.org/components"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="../../template/keeperLayout.xhtml">
        <f:metadata>
            <f:event type="preRenderView" listener="#{noteForm.init(flatBean.editNote)}" />
        </f:metadata>

        <ui:define name="keeper-side-panel-def">
            <h:form id="kp-sm-form">
                <b:waitingPanel id="waiting" delay="500"
                    blockpage="true" rendered="true" />
                <p:menu id="kp-sm">
                    <p:submenu label="Navigation">
                        <p:menuitem value="Index" outcome="index"/>
                    </p:submenu>
                    <p:submenu label="Notes">
                        <p:menuitem value="Save" onclick="$('#addNoteForm\\:hiddenSubmitBtn').click()" />
                    </p:submenu>
                </p:menu>
            </h:form>
        </ui:define>

        <ui:define name="keeper-top-panel-def" />

        <ui:define name="keeper-content-def">
            <h:form id="addNoteForm">
                <b:waitingPanel id="waiting" delay="500"
                    blockpage="true" rendered="true" />
                <b:text id="title" autoFocus="true"
                    value="#{noteForm.note.title}" />
                <b:markdown id="text" styleClass="keeper-md-input"
                    value="#{noteForm.note.text}">
                </b:markdown>
                <h:commandButton id="hiddenSubmitBtn" action="#{noteForm.saveNote}" style="display: none"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>

</html>