<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >

    <h:head id="keeper-header">
        <h:outputStylesheet name="css/keeper.css" />
        <h:outputStylesheet name="css/pf-overrides.css" />
        <script type="text/javascript" src="#{request.contextPath}/js/keeper.js" />
        <h:outputScript name="js/butterfaces-overrides.js" target="body" />
        <h:outputScript name="ext-js/showdown.js" />
    </h:head>

    <h:body>

        <div id="keeper-page" class="ui-g page-grid">
            <div id="keeper-side-panel" class="ui-g-12 ui-md-2">
                <p id="kp-header">Keeper</p>
                <ui:insert name="keeper-side-panel-def" />
            </div>
            <div class="ui-g-12 ui-md-10 ui-g-nopad">
                <div class="ui-g-12">
                    <div class="ui-g-12 ui-md-12">
                        <ui:insert name="keeper-top-panel-def" />
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <ui:insert name="keeper-content-def" />
                    </div>
                </div>
            </div>
        </div>

    </h:body>

</html>
