body {
	padding: 0;
	margin: 0;
}

#notesSectionForm .ui-filter-column input.ui-column-filter {
	display: none;
}

#notesSection {
	padding-bottom: 3rem;
}

#notesSectionForm table .ui-datatable-odd {
	background: inherit;
}

.search-text {
    width: 100%;
}

#kp-header {
    font: small-caps bold 36px Impact, sans-serif;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
    color: #647b40;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kp-edit-link {
    padding-right: 5px;
    color: #647b40;
}

.kp-note-title {
    font-weight: bold;
    color: #647b40;
    border-bottom: 1px solid #647b40;
    display: block;
}

.kp-note-result {
    background-color: #e6eddb1a;
    margin: 1rem;
}

#kp-sm-form .ui-menu {
    width: 100%;
}

.narrow-col {
	width: 10rem;
}

.icon-col {
	vertical-align: text-top;
	width: 6rem;
}

.note-title {
	vertical-align: text-top;
}

/* markdown input related styles */
.keeper-md-input textarea {
	height: 70rem;
}

#loginForm {
	margin: auto;
	width: 40rem;
	padding-top: 15rem;
}

#sidePanelForm .site-panel-item {
	width: 100%;
}

.top-panel-form .top-panel-item{
	width: 100%;
}